.offers {
  /* width: 65%; */
  /* height: 60vh; */
  display: flex;
  margin-top: 30px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  margin-bottom: 150px;
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  padding-left: 150px;
}

.offers-left h1 {
  color: #171717;
  font-size: 80px;
  font-weight: 600;
}

.offers-left p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}

.offers-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #ff4141;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}

.offers-right {
    flex: 1;
    /* margin-left: 100px; */
    padding-left: 150px;
}

@media(max-width:1280px){
  .offers{
    padding: 0px 80px;
    margin-bottom: 180px;
  }
  .offers-left h1{
    font-size: 40px;
  }
  .offers-left p{
    font-size: 18px;
  }
  .offers-right img{
    width: 300px;
  }
  .offers-left button{
    width: 220px;
    height: 50px;
    font-size: 18px;
  }
}
@media(max-width:1024px){
  .offers{
    padding: 0px 60px;
    margin-bottom: 130px;
    height: 40vh;
  }
  .offers-left h1{
    font-size: 30px;
  }
  .offers-left p{
    font-size: 16px;
  }
  .offers-right img{
    width: 200px;
  }
  .offers-left button{
    width: 160px;
    height: 40px;
    font-size: 16px;
  }
}
@media(max-width:800px){
  .offers{
    margin-bottom: 100px;
  }
  .offers-left h1{
    font-size: 16px;
  }
  .offers-left p{
    font-size: 10px;
  }
  .offers-left{
    padding-left: 50px;
  }
  .offers-right{
    padding-left: 30px;
  }
  .offers-right img{
    width: 180px;
  }
  .offers-left button{
    width: 130px;
    height: 30px;
    font-size: 12px;
  }
}
@media screen and (max-width:500px) {
  /* .offers-right{
    display: none;
  } */
  .offers{
    height: 25vh;
    margin-bottom: 120px;
  }
  .offers-left{
    padding-left: 5px;
    width: 150px;
  }
  .offers-left h1{
    font-size: 12px;
  }
  .offers-left p{
    font-size: 9px;
  }
  .offers-right img{
    width: 120px;
  }
  .offers-left button{
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 12px;
  }
 }
